<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="MyConnectionString"
             connectionString="Data Source=DESKTOP-0EECPLN\SQLEXPRESS; DataBase = BagStoreDb;Integrated Security=True;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>